.logo{
    display: flex;    
    align-items: center;
    padding: 25px 0px;

}

.image{
    width: 30px;
    margin-right: 10px;

}

.title{
    color: #FF7A00;
    font-weight: bold;
    font-size: 22px;
    
}